{% extends "base.html" %}
{% block title %}Recettes{% endblock %}

{% block content %}
<br>
<a href="#" target="_blank" style="position: relative; top: 40px; left: 75px;">
    <img src="{{ url_for('static', filename='your_image_folder/nvlogo.jpg') }}" alt="poulet" class="img-thumbnail" style="width: 200px; height: 150px;">
</a>
<a href="#" target="_blank" style="position: relative; top: 40px; left: 175px;">
    <img src="{{ url_for('static', filename='your_image_folder/nvlogo.jpg') }}" alt="poulet" class="img-thumbnail" style="width: 200px; height: 150px;">
</a>
<a href="#" target="_blank" style="position: relative; top: 40px; left: 275px;">
    <img src="{{ url_for('static', filename='your_image_folder/nvlogo.jpg') }}" alt="poulet" class="img-thumbnail" style="width: 200px; height: 150px;">
</a>
<a href="#" target="_blank" style="position: relative; top: 40px; left: 375px;">
    <img src="{{ url_for('static', filename='your_image_folder/nvlogo.jpg') }}" alt="poulet" class="img-thumbnail" style="width: 200px; height: 150px;">
</a>
{% endblock %}
